<div [formGroup]="form" class="ticket-line-item">
  <div class="content">
    <div class="header">
      {{ ticket.ticketType.Name }} ({{ ticket.ticketType.UnitPrice | currency:"EUR":true }})
    </div>
    <div class="description mdc-typography--body1">
      <p>{{ ticket.ticketType.Product2.Description }}</p>
    </div>
  </div>

  <div class="number-input">
    <a md-icon-button class="number-input__button" (click)="removeTicket()">
      <md-icon>remove_circle_outline</md-icon>
    </a>
    <md-input-container>
      <input mdInput
             placeholder="Aantal"
             formControlName="amount">
    </md-input-container>
    <a md-icon-button class="number-input__button" (click)="addTicket()">
      <md-icon>add_circle_outline</md-icon>
    </a>
  </div>

</div>
