<div [formGroup]="form" class="ticket-line-item">
  <div>
    <span class="mdc-typography--body2">
      {{ ticket.ticketType.Name }} ({{ ticket.ticketType.UnitPrice | currency:"EUR":true }})
    </span>
    <p class="mdc-typography--body1"
       style="margin-top: 0;">
      {{ ticket.ticketType.Product2.Description }}
    </p>
  </div>

  <div class="number-input">
    <a md-icon-button class="number-input__button" (click)="removeTicket()">
      <md-icon>remove_circle_outline</md-icon>
    </a>
    <md-input-container>
      <input mdInput
             [placeholder]="ticket.ticketType.Name + 's'"
             formControlName="amount">
    </md-input-container>
    <a md-icon-button class="number-input__button" (click)="addTicket()">
      <md-icon>add_circle_outline</md-icon>
    </a>
  </div>

</div>
