.order-status {
  display: flex;
  direction: row;
  justify-content: center;

  &__card {
    width: 400px;
    max-width: 100%;
    margin: 1rem;
  }

  .status {
    &-paid md-icon {
      color: green;
    }
    &-failed md-icon {
      color: red;
    }
    &-pending md-icon {
      color: orange;
    }
  }

}
