<md-progress-bar mode="indeterminate" *ngIf="loading > 0"></md-progress-bar>
<div *ngIf="production">

    <h2>
        Reserveren voor {{ production.Name }}
    </h2>

    <div class="hero" [innerHTML]="production.Hero_Image__c">
        Laden...
    </div>

    <md-nav-list *ngIf="!show">
        <h3>Kies een voorstelling</h3>
        <a md-list-item href="#"
           (click)="setShow(show)"
           *ngFor="let show of production.ChildCampaigns.records">
            <h3 md-line>{{ show.StartDate | date:'fullDate' }}</h3>
            <p md-line>
                {{ show.MaximumProducts__c - show.NumberOfProducts__c }} vrije plaatsen
            </p>
        </a>
    </md-nav-list>

    <div *ngIf="show" >
        <p>
            Je bent tickets aan het reserveren voor
            {{ show.StartDate | date:'fullDate' }}.
        </p>
        <form (ngSubmit)="submit()" *ngIf="!submitted">
            <h3>Jouw gegevens</h3>
            <md-input type="text" placeholder="Voornaam"
                      name="first-name"
                      [(ngModel)]="reservation.FirstName"></md-input>
            <md-input type="text" placeholder="Achternaam"
                      name="last-name" required
                      [(ngModel)]="reservation.LastName"></md-input>

            <md-input type="email" placeholder="E-mailadres"
                      name="email" required
                      [(ngModel)]="reservation.Email"></md-input>
            <md-input type="tel" placeholder="Telefoonnummer"
                      name="phone"
                      [(ngModel)]="reservation.Phone"></md-input>

            <div *ngIf="reservation.Tickets">
                <h3>Tickets</h3>
                <md-list>
                    <md-list-item
                       *ngFor="let ticket of reservation.Tickets">
                        <h4 md-line>{{ ticket.ticketType.Name }} ({{ ticket.ticketType.DefaultPrice | currency:"EUR":true }})</h4>
                        <p md-line>
                            <a href="#" (click)="ticket.amount = ticket.amount - 1"
                               class="icon">
                                <md-icon class="inline-icon">remove_circle_outline</md-icon>
                            </a>
                            <span>{{ ticket.amount }}</span>
                            <a href="#" (click)="ticket.amount = ticket.amount + 1"
                               class="icon">
                                <md-icon class="inline-icon">add_circle_outline</md-icon>
                            </a>
                        </p>
                    </md-list-item>
                </md-list>
            </div>

            <button type="submit"
                    [disabled]=""
                    md-button color="primary">RESERVEER</button>
        </form>

        <div *ngIf="submitted">
            <p>Klaar! Je zal zo dadelijk een bevestigingsmailtje krijgen.</p>
        </div>

    </div>

</div>
