<!-- <div class="ui message">
     <p>
     Vragen of problemen? Laat ons gerust iets weten.
     </p>
     <a md-button class="ui button item" href="mailto:info@litoziekla.be">
     Email
     </a>
     <a md-button class="fb-messenger-button">
     <span class="icon">
     <svg enable-background="new 0 0 128 128" id="Social_Icons" version="1.1" viewBox="0 0 128 128" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
     <g id="_x34__stroke">
     <g id="Facebook_Messenger_1_">
     <rect clip-rule="evenodd" fill="none" fill-rule="evenodd" height="128" width="128"/>
     <path clip-rule="evenodd" d="M70.36,79.802L54.062,62.42    L22.261,79.802l34.981-37.136l16.696,17.383l31.404-17.383L70.36,79.802z M64,0C28.654,0,0,26.531,0,59.259    c0,18.649,9.307,35.283,23.851,46.146V128l21.791-11.96c5.816,1.609,11.977,2.478,18.358,2.478c35.346,0,64-26.531,64-59.259    S99.346,0,64,0z" fill="#FFFFFF" fill-rule="evenodd" id="Facebook_Messenger"/>
     </g>
     </g>
     </svg>
     </span>
     Facebook Messenger
     </a>
     </div> -->


<div *ngIf="production">

  <div class="hero image"
       *ngIf="production"
       [innerHTML]="production.Hero_Image__c"></div>

  <form class="content"
        [formGroup]="form"
        (ngSubmit)="submit(form)"
        [class.loading]="loading > 0">

    <h1 class="mdc-typography--headline" style="margin: 0.5rem 0 0.5rem 3rem">
      Reserveer je tickets voor {{ production.Name }}
    </h1>

    <ol class="stepper">
      <li class="stepper__step"
          [class.done]="show">
        <h2 class="stepper__step-title mdc-typography--title">Voorstelling</h2>
        <h3 class="mdc-typography--subheading2">Waar?</h3>
        <p class="mdc-typography--body1">{{ production.Location__c }}</p>

        <h3 class="mdc-typography--subheading2">Wanneer?</h3>
        <md-radio-group>
          <md-radio-button [value]="show.Id"
                           (click)="setShow(show)"
                           class="show-radio-button"
                           [class.disabled]="!show.IsActive"
                           *ngFor="let show of production.ChildCampaigns.records">
            <p class="mdc-typography--body2">{{ show.Entrance__c }}</p>
            <span class="mdc-typography--body1">
              <span *ngIf="!showIsFull(show)">
                {{ show.MaximumProducts__c - show.NumberOfProducts__c }} vrije plaatsen
              </span>
              <span *ngIf="showIsFull(show)">
                Sorry, volzet!
              </span>
            </span>
          </md-radio-button>
        </md-radio-group>
      </li>



      <li class="stepper__step"
          [class.done]="totalAmount() > 0"
          [class.disabled]="!show">
        <span class="stepper__step-title mdc-typography--title">Tickets</span>
        <!-- STEP 2 -->
        <div formArrayName="Tickets"><!-- FIXME Remove always true -->
          <h2 class="mdc-typography--subheading2">Hoe veel tickets wil je?</h2>
          <div *ngFor="let ticket of reservation.Tickets; let i = index">
            <app-ticket-line-item [form]="form.controls.Tickets.controls[i]"
                                  [ticket]="ticket"
                                  (add)="addTicket(ticket)"
                                  (remove)="removeTicket(ticket)"></app-ticket-line-item>
          </div>
        </div>
      </li>



      <li class="stepper__step"
          [class.done]="form.valid"
          [class.disabled]="totalAmount() <= 0">
        <span class="stepper__step-title mdc-typography--title">Contactgegevens</span>
        <!-- STEP 3 -->
        <h3 class="mdc-typography--subheading2">Hoe kunnen we je bereiken?</h3>

        <span class="mdc-typography--caption">Velden met een * zijn verplicht.</span>

        <md-input-container class="">
          <input mdInput type="text"
                 placeholder="Voornaam"
                 formControlName="FirstName">
        </md-input-container>
        <md-input-container class="">
          <input mdInput type="text"
                 placeholder="Achternaam"
                 required
                 formControlName="LastName">
        </md-input-container>
        <md-input-container class="">
          <input mdInput type="email"
                 placeholder="E-mailadres"
                 required
                 formControlName="Email">
        </md-input-container>
        <md-input-container>
          <input mdInput type="tel"
                 placeholder="Telefoonnummer"
                 formControlName="Phone">
        </md-input-container>
        <md-input-container>
          <textarea mdInput
                    placeholder="Nog opmerkingen?"
                    formControlName="Description">
          </textarea>
        </md-input-container>

        <div *ngIf="formErrors.length > 0" class="form-errors mdc-typography--body1">
          <span>Oeps, ik denk dat je een foutje hebt getypt. Kijk je het nog even na?</span>
          <ul>
            <li *ngFor="let error of formErrors">
              {{ error }}
            </li>
          </ul>
        </div>


        <div *ngIf="submitted"
             class="ui positive icon message">
          <i class="ui checkmark icon"></i>
          <div class="content">
            <h3 class="header">Staat genoteerd!</h3>
            <p>Je zal zo dadelijk een bevestigingsmailtje krijgen.</p>
          </div>
        </div>


        <button md-raised-button color="primary"
                type="submit"
                (click)="validate(true)"
                [disabled]="submitting || !form.valid" *ngIf="show && !submitted">
          RESERVEER MIJN TICKETS
        </button>
      </li>
    </ol>

  </form>
</div>

<div
    class="content"
    [class.loading]="loading > 0 && (!sponsors || sponsors.length <= 0)">
  <h2 class="mdc-typography--headline">Met dank aan onze sponsors</h2>
  <p class="mdc-typography--body1">Zij maakten deze productie mogelijk!</p>
  <div class="sponsor-grid">
    <div *ngFor="let sponsor of sponsors" [innerHTML]="sponsor.Logo__c" class="sponsor column"></div>
  </div>
</div>

<div class="ui negative message"
     *ngIf="error">
  {{ error }}
</div>
