<form
    [formGroup]="form"
    (ngSubmit)="submit(form)"
    [class.loading]="loading > 0"
    class="ui form fluid card">

  <div class="hero image"
       *ngIf="production"
       [innerHTML]="production.Hero_Image__c"></div>

  <div *ngIf="production" class="content">

    <h1 class="header">
      Reserveren voor {{ production.Name }}
    </h1>
    <div class="ui message">
      <p>
        Vragen of problemen? Laat ons gerust iets weten.
      </p>
      <div class="ui horizontal list">
        <div class="item">
          <a class="ui button item" href="mailto:info@litoziekla.be">
            Email
          </a>
        </div>
        <div class="item">
          <div class="fb-messengermessageus middle aligned content"
               messenger_app_id="573581272802189"
               page_id="377509402358387"
               color="blue"
               size="large" >
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!show">

      <h3 class="ui dividing header">
        De voorstelling
      </h3>
      <p>
        <strong>Locatie:</strong> {{ production.Location__c }}
      </p>
      <p>Kies een voorstelling:</p>

      <sm-list class="very relaxed divided">
        <a class="item"
           (click)="setShow(show)"
           *ngFor="let show of production.ChildCampaigns.records">
          <div class="right floated middle aligned content">
            <button class="ui mini icon primary button" type="button">
              <i class="angle double right icon"></i>
            </button>
          </div>
          <div class="middle aligned content">
            <div class="header">
              {{ show.Entrance__c }}
            </div>
            <p class="mdl-typography--caption"  *ngIf="!showIsFull(show)">
              {{ show.MaximumProducts__c - show.NumberOfProducts__c }} vrije plaatsen
            </p>
            <p class="mdl-typography--caption" *ngIf="showIsFull(show)">
              Sorry, volzet!
            </p>
          </div>
        </a>
      </sm-list>
    </div>

    <div *ngIf="show">
      <h3 class="ui dividing header">
        De voorstelling
      </h3>
      <p>
        <strong>Locatie:</strong> {{ production.Location__c }}
      </p>
      <p>
        <strong>Aanvang:</strong> {{ show.Entrance__c }}
      </p>

      <div *ngIf="!submitted">
        <h3 class="ui dividing header">Jouw gegevens</h3>
        <p>Velden met een * zijn verplicht.</p>
        <div class="field">
          <sm-input type="text"
                    label="Voornaam"
                    placeholder="Voornaam..."
                    formControlName="FirstName"></sm-input>
        </div>
        <div class="field">
          <sm-input type="text"
                    label="Achternaam"
                    placeholder="Achternaam..."
                    required
                    formControlName="LastName"></sm-input>
        </div>
        <div class="field">
          <sm-input type="email"
                    label="E-mailadres"
                    placeholder="mijn@email.com..."
                    required
                    formControlName="Email"></sm-input>
        </div>
        <div class="field">
          <sm-input type="tel"
                    label="Telefoonnummer"
                    placeholder="Telefoonnummer..."
                    formControlName="Phone"></sm-input>
        </div>

        <div *ngIf="reservation.Tickets">
          <h3 class="ui dividing header">Je tickets</h3>
          <div class="ui very relaxed list field" formArrayName="Tickets">
            <app-ticket-line-item *ngFor="let ticket of reservation.Tickets; let i = index"
                                  [form]="form.controls.Tickets.controls[i]"
                                  [ticket]="ticket"
                                  (add)="addTicket(ticket)"
                                  (remove)="removeTicket(ticket)"
                                  class="item"></app-ticket-line-item>
          </div>
        </div>

      </div>

      <div *ngIf="formErrors.length > 0" class="ui negative message">
        <div class="header">
          Oeps, dat ziet er niet goed uit!
        </div>
        <ul class="list">
          <li *ngFor="let error of formErrors">
            {{ error }}
          </li>
        </ul>
      </div>

      <div *ngIf="submitted"
           class="ui positive icon message">
        <i class="ui checkmark icon"></i>
        <div class="content">
          <h3 class="header">Staat genoteerd!</h3>
          <p>Je zal zo dadelijk een bevestigingsmailtje krijgen.</p>
        </div>
      </div>


    </div>
  </div><!-- Card content -->

  <button type="submit"
          class="ui primary bottom attached primary button"
          (click)="validate(true)"
          [disabled]="submitting" *ngIf="show && !submitted">
    Reserveer
  </button>

</form>

<div class="ui segment container"
     [class.loading]="loading > 0 && (!sponsors || sponsors.length <= 0)">
  <h2 class="ui header">Met dank aan onze sponsors</h2>
  <p class="ui sub header">Zij maakten deze productie mogelijk!</p>
  <div class="ui grid">
    <div class="doubling four column sponsors row">
      <div *ngFor="let sponsor of sponsors" [innerHTML]="sponsor.Logo__c" class="sponsor column"></div>
    </div>
  </div>
</div>
