.ticket-line-item {
  display: flex;
  flex-direction: column;
}

.number-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .mat-form-field {
    flex: 1 0 4em;
    margin-top: 0;
  }

  &__button:first-child {
    margin-right: 0.5em;
    margin-left: -0.5em;
  }

  &__button:last-child {
    margin-left: 0.5em;
  }
}
