.order-status {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;

  &__card {
    display: block;
    width: 400px;
    max-width: 100%;
    margin: 1rem;

    &--green {
      color: #fff;
      background: #00C853;
    }
  }

  .status {
    &-paid mat-icon {
      color: green;
    }
    &-failed mat-icon {
      color: red;
    }
    &-pending mat-icon {
      color: orange;
    }
  }

}
