/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$lito-app-primary: mat-palette($mat-grey);
$lito-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$lito-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$lito-app-theme: mat-light-theme($lito-app-primary, $lito-app-accent, $lito-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($lito-app-theme);

/* Material Design Lite */

// Variables and mixins

body {
    font-family: Lato, 'Source Sans Pro', 'Roboto', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

a.icon {
    text-decoration: none;
    color: #000;
}

.inline-icon {
    width: 1em;
    height: 1em;
    font-size: 1em;
}

a .ui.icon.button .icon {
  color: inherit !important;
}

.hero img {
    display: block;
    width: 100%;
}

form md-input {
    width: 100%;
}

main {
    padding: 10px;
    background: #fafafa;
    margin: 0;
}

md-card {
    margin-bottom: 1em;
}

.sponsor img {
    display: block;
    width: 100%;
}

.ui.menu {
  border-radius: 0;
  margin: 0;
}

md-toolbar .logo {
  height: 1em;
  width: auto;
}

.item.disabled {
  opacity: .5;
}

.fb-messenger-button {
  color: white !important;
  background: #007FFF;
}

.icon > svg {
  width: 1em;
  height: 100%;
}

md-input-container {
  display: block !important;
  margin: 2em 0;
}

.mat-toolbar {
  background: #222;
}
