/* You can add global styles to this file, and also import other style files */

/* Material Design Lite */

// Variables and mixins

body {
    font-family: Lato, 'Source Sans Pro', 'Roboto', 'Helvetica Neue', sans-serif;
}

a.icon {
    text-decoration: none;
    color: #000;
}

.inline-icon {
    width: 1em;
    height: 1em;
    font-size: 1em;
}

a .ui.icon.button .icon {
  color: inherit !important;
}

.hero img {
    display: block;
    width: 100%;
}

form md-input {
    width: 100%;
}

main {
    padding: 10px;
    background: #fafafa;
    margin: 0;
}

md-card {
    margin-bottom: 1em;
}

.sponsor img {
    display: block;
    width: 100%;
}

.ui.menu {
  border-radius: 0;
  margin: 0;
}

.menu .header.item img.logo {
  height: 1em;
  width: auto;
}

.item.disabled {
  opacity: .5;
}

.ui.messenger.button {
  color: white;
  background: #007FFF;
}

.icon > svg {
  width: 1em;
  height: 100%;
}
