/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

a.icon {
    text-decoration: none;
    color: #000;
}

.inline-icon {
    width: 1em;
    height: 1em;
    font-size: 1em;
}

.hero img {
    display: block;
    width: 100%;
}

form md-input {
    width: 100%;
}
